{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Humancat</title>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'humancat/assets/css/main.css' %}">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><strong>Humancat</strong> is for NEW human kinds with cats</h2>
				<p>Anyone who loves cats is welcome.</p>
				<ul class="actions">
					<li><a href="#" class="button special">Get started from Leo.</a></li>
				</ul>
				<ul class="actions">
					<li><a href="#" class="button special">! This is NEW EVENT !</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Humancat is not strange. Trust me.</h2>
					</header>
					<div class="features">
						<div class="feature">
							<i class="fa fa-diamond"></i>
							<h3>Human</h3>
							<p>Human is human. Hello.</p>
						</div>
						<div class="feature">
							<i class="fa fa-copy"></i>
							<h3>Cat</h3>
							<p>Cat is cat. Meow.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>Get in touch</h2>
					</header>
					<form class="grid-form" method="post" action="#">
						<div class="form-control narrow">
							<label for="name">Name</label>
							<input name="name" id="name" type="text">
						</div>
						<div class="form-control">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4"></textarea>
						</div>
					</form>
				</div>
			</section>
		<!-- Scripts -->
			<script src="{% static 'humancat/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'humancat/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'humancat/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'humancat/assets/js/main.js' %}"></script>

	</body>
</html>
